/** @format */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
.banner-span {
  color: orange;
}

p {
  color: #6e6b69;
}

.banner-section {
  display: flex;
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.half-section {
  width: 50%;
  padding-left: 5%;
}

.half-section img {
  width: 80%;
}

.link-button {
  background-image: linear-gradient(orange, #f9745d);
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.dream-section {
  display: flex;
  background-image: url('images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 120px;
}

.flexible-container {
  display: flex;
  background-image: url('images/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

.box-section {
  height: 400px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 10px; */
  margin: 40px;
  border-radius: 10px;
}

.box-section h3 {
  color: orange;
}

.one {
  border-left: 7px solid #ff6347;
}
.two {
  border-left: 7px solid #9147ff;
}

h2 {
  font-size: 30px;
}

Footer {
  margin-top: 80px;
  text-align: center;
}
